.page {
  background: url("../img/wave.svg");
  background-size: cover;
  background-color: white;
}

.logo-apps {
  height: 60px;
}

.toolbar-center {
  height: 65px;
  background: #34495e;
}
.toolbar-inner .tab-link {
  color: white;
}
.toolbar-inner .tab-link .icon {
  font-size: 24px;
  transition: all 0.3s;
}
.toolbar-inner .tab-link .tabbar-label {
  display: none;
  transition: all 0.3s;
}
.toolbar-inner .tab-link-active .tabbar-label {
  display: block;
}
.toolbar-inner .tab-link:not(.tab-link-active) .icon {
  font-size: 36px;
}

.besar-icon80 {
  width: 80%;
}
.besar-icon100 {
  width: 100%;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font32 {
  font-size: 32px;
}
.radius15 {
  border-radius: 15px;
}
.pad10 {
  padding: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.bold {
  font-weight: bold;
}
